.food-body {
    background-color: white;
  }
  
  .food {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #fff;
    font-family: font(main-font);
    margin: 0;
    padding-top: 0;
    padding-bottom: 4rem;
    height: auto;
    background-attachment: fixed;
    box-sizing: border-box;
  }
  .food-content {
    display: flex;
    margin-left: -3rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: inherit;
    padding: 0;
    margin: 0;
  }
  
  .card {
    color: inherit;
    cursor: pointer;
    width: 27vw;
    height: 32vh;
    perspective: 1000px;
    position: relative;
    margin: 3rem;
  }
  
  .front,
  .back {
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-size: cover;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 600ms;
    // overflow: hidden;
  }
  
  .front {
    background-size: cover;
    // background-blend-mode: overlay;
    padding: 2rem;
    font-size: 1.6rem;
    color: #fff;
    overflow: hidden;
    font-family: Poppins, sans-serif;
    &:before {
      position: absolute;
      display: block;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-size: cover;
      z-index: -1;
    }
    .card:hover & {
      transform: rotateY(180deg);
    }
    .card:nth-child(even):hover & {
      transform: rotateY(-180deg);
    }
  }
  
  .pizza {
    &:before {
      background-image: url(/images/pizza.jpg);
    }
  }
  .pasta {
    &:before {
      background-image: url(/images/pasta.jpg);
      background-position: center;
    }
  }
  .lasagna {
    &:before {
      background-image: url(/images/lasagna.jpg);
    }
  }
  .risotto {
    &:before {
      background-image: url(/images/risotto.jpg);
      background-position: center;
    }
  }
  .calamari {
    &:before {
      background-image: url(/images/calamari.jpg);
      background-position: center;
    }
  }
  .caprese {
    &:before {
      background-image: url(/images/caprese.jpg);
    }
  }
  
  .back {
    background: color(primary);
    transform: rotateY(-180deg);
    padding: 2rem;
  
    .card:hover & {
      transform: rotateY(0deg);
    }
  
    .card:nth-child(even) & {
      transform: rotateY(180deg);
    }
  
    .card:nth-child(even):hover & {
      transform: rotateY(0deg);
    }
  }
  
  .food-header {
    padding-top: 3rem;
    font-size: 5rem;
    font-style: italic;
    color: color(primary);
  }
  
  @media screen and (max-width: $tablet) {
    .card {
      display: flex;
      flex: wrap;
      width: 65vw;
    }
  }
  